a:link{
    color:green;
}

a:visited{
    color:aqua;
}

a:hover{
    color:white;
    background-color: black;
}

a:visited:hover{

    color: blue;
    background-color: red;
}

a:active{
    background-color: aquamarine;
}