body{
    margin: 20px 80px 20px 20px;
    border: 2px solid rgb(75, 54, 33);
}

header{
    margin: 20px 20px 20px 20px;
    border: 2px double rgb(75, 54, 33);
    border-radius: 8px;
    border-width: 4px;
}

h1{
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(75, 54, 33);
    text-align:left;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.parrheader{
    padding-left: 20px;
    color: rgb(75, 54, 33);
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    

}

nav{
    margin: 5px 20px 20px 20px ;
    border: 2px solid rgb(75, 54, 33);
    border-radius: 5px ;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

strong{
    font-style: italic;
}

a{
    margin:5px 5px 5px 5px;
    text-decoration: underline;
    color: rgb(75, 54, 33);
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

a:hover{
    color:black;
    text-decoration: overline;
}

section{
    border: 2px outset rgb(154, 154, 154);
    margin: 20px 20px 20px 20px;
}

h2{
    margin: 40px 20px 20px 20px;
    color: rgb(75, 54, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-transform: capitalize;
}

div{
    border: 3px dotted rgb(75, 54, 33);
    margin-left: 20px;
}

img{
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

article{
    border: 2px outset rgb(154, 154, 154);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

h3{
    color: rgb(75, 54, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 20px 20px 20px;
}

p{
    color: rgb(75, 54, 33);
    font-family:'Times New Roman', Times, serif;
    font-size:19px; 
    margin: 20px 20px 20px 20px ; 
}

b{
    text-decoration: overline;
}

ol{
    border: 2px dashed rgb(75, 54, 33);
    margin: 20px 20px 20px 20px;
    padding: 15px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 54, 33);
}

.produmenu{
    margin: 20px 20px 20px 40px;
    border-style:ridge;

}

ul{
    border: 1px dashed rgb(75, 54, 33);
    margin: 20px 20px 20px 20px;
    padding: 15px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 54, 33);
}

dl{
    border: 1px solid rgb(75, 54, 33);
    margin: 20px 20px 20px 20px;
    padding: 15px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 54, 33);
}

table{
    border: 4px double rgb(75, 54, 33);
    margin: 20px 20px 20px 20px ;
}

caption{
    color: rgb(75, 54, 33); 
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 16px;
}

.thbebida{
    text-align: center;
    padding: 6px 350px 6px 350px;
    color: rgb(75, 54, 33);
    border: 1px solid rgb(154, 154, 154);
    text-transform: uppercase;
}

.thprecio{
    text-align: center;
    padding: 6px 200px 6px 200px;
    color: rgb(75, 54, 33);
    border: 1px solid rgb(154, 154, 154);
    text-transform: uppercase;
}


h4{
    margin: 20px 20px 20px 20px;
    color: rgb(75, 54, 33);
}

video{
    width: 300px;
    margin: 20px 20px 20px 20px;
}

audio{
    margin: 20px 20px 20px 20px;
}

form{
    border-radius: 4px;
    border:2px solid rgb(154, 154, 154);
    margin: 20px 20px 20px 20px;
}

fieldset{
    margin: 20px 20px 20px 20px;
    color: rgb(75, 54, 33); 
}

legend{
    color: rgb(75, 54, 33);
    font-size:20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

button{
    width: 150px;
    height: 50px;
    border: 2px outset gray;
}

button:hover{
    text-decoration: underline;
}

footer{
    border: 2px solid rgb(75, 54, 33);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

span{
    color: rgb(75, 54, 33); 
}